td {
  border: 1px solid black;
  padding: 1em;
}

th {
  border: 1px solid black;
  padding: 1em;
}

table {
  border-collapse: collapse;
  font-size: 0.8em;
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

tr {
  text-align: center;
  width: 100%;
}
